<div *ngIf="!flexWheel" style="text-align: center">
  <mat-spinner></mat-spinner>
</div>
  <div class="block" *ngIf="flexWheel">
  <h2 mat-dialog-title>Добавить уведомление</h2>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Категория</mat-label>
    <mat-select [(ngModel)]="categoryName" formControlName="categoryForm">
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{category.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.controls['categoryForm'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Название</mat-label>
    <input matInput formControlName="titleForm" [(ngModel)]="notification.title">
    <mat-error *ngIf="formGroup.controls['titleForm'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Текст</mat-label>
    <textarea matInput formControlName="textForm" [(ngModel)]="notification.text">
    <mat-error *ngIf="formGroup.controls['textForm'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
    </textarea>
  </mat-form-field>

    <h2 mat-dialog-title>{{currentUser.name +" " + currentUser.lastName}}</h2>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Отмена</button>
    <button mat-raised-button (click)="addNotification()" [mat-dialog-close]="true" [disabled]="formGroup.invalid">Подтвердить</button>
  </mat-dialog-actions>
</div>
