<div *ngIf="!disable">
  <mat-spinner></mat-spinner>
</div>
<div class="block" *ngIf="disable">
  <h2 mat-dialog-title>Добавить</h2>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Почта</mat-label>
    <input matInput formControlName="email" [(ngModel)]="user.email">
    <mat-error >
      <div *ngIf="formGroup.controls['email'].hasError('required')">
        Это поле <strong>обязательное!</strong>
      </div>
      <div *ngIf="formGroup.controls['email'].hasError('email')">
        Это поле <strong>обязательное!</strong>
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Пароль</mat-label>
    <input type="password" matInput formControlName="password" [(ngModel)]="user.password">
    <mat-error *ngIf="formGroup.controls['password'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name" [(ngModel)]="user.name">
    <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Фамилия</mat-label>
    <input matInput formControlName="lastName" [(ngModel)]="user.lastName">
    <mat-error *ngIf="formGroup.controls['lastName'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 40vh" [formGroup]="formGroup">
    <mat-label>Отчество</mat-label>
    <input matInput formControlName="patronymic" [(ngModel)]="user.patronymic">
    <mat-error *ngIf="formGroup.controls['patronymic'].hasError('required')">
      Это поле <strong>обязательное!</strong>
    </mat-error>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Отмена</button>
    <button mat-raised-button (click)="createUser()" [mat-dialog-close]="true" [disabled]="formGroup.invalid">
      Подтвердить
    </button>
  </mat-dialog-actions>

</div>

