<table mat-table [dataSource]="utilitiesTable" class="mat-elevation-z8">
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef>Дата</th>
    <td mat-cell *matCellDef="let utility"> {{utility.date}} </td>
  </ng-container>

  <ng-container matColumnDef="lastMonthReadings">
    <th mat-header-cell *matHeaderCellDef>Показания в начале месяца месяца</th>
    <td mat-cell *matCellDef="let utility"> {{utility.startMonthReading}} </td>
  </ng-container>

  <ng-container matColumnDef="currentMonthReadings">
    <th mat-header-cell *matHeaderCellDef>Показания в конце месяца</th>
    <td mat-cell *matCellDef="let utility"> {{utility.endMonthReading}} </td>
  </ng-container>

  <ng-container matColumnDef="use">
    <th mat-header-cell *matHeaderCellDef>Использовано</th>
    <td mat-cell *matCellDef="let utility"> {{utility.endMonthReading - utility.startMonthReading}} </td>
  </ng-container>

  <ng-container matColumnDef="tariff">
    <th mat-header-cell *matHeaderCellDef>Тариф</th>
    <td mat-cell *matCellDef="let utility"> {{utility.service.tariff}} </td>
  </ng-container>

  <ng-container matColumnDef="amountToPay">
    <th mat-header-cell *matHeaderCellDef>К оплате</th>
    <td mat-cell *matCellDef="let utility"> {{utility.amountToPay}} </td>
  </ng-container>

  <ng-container matColumnDef="attachPhoto">
    <th mat-header-cell *matHeaderCellDef>Фото</th>
    <td mat-cell *matCellDef="let utility"> {{utility.photoURL}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Статус</th>
    <td mat-cell *matCellDef="let utility">
      <div *ngIf="utility.status; else elseB">
        Оплачен
      </div>
      <ng-template #elseB>
        Не оплачен
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Изменить</th>
    <td mat-cell *matCellDef="let row; let utility">
      <button mat-icon-button aria-label="Edit">
        <mat-icon color="primary" (click)="openEditDialog(utility)">more_vert</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
