<div class="flexBox">

<!--  <app-utilities-info-box class="infoBox"></app-utilities-info-box>-->

  <div class="box">

    <div class="add">
      <div class="wrapper">
        <div class="filter">

          <div [hidden] = "!showDatePicker">
            <mat-form-field appearance="fill" style="width: 40vh">
              <mat-label>Выберите дату</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="searchField">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div [hidden] = "!showStatuses">
            <mat-form-field style="width: 15vh" [hidden]="!showStatuses" >
              <mat-label>Статус</mat-label>
              <mat-select [(ngModel)]="searchField">
                <mat-option value="true">Оплачен</mat-option>
                <mat-option value="false">Не оплачен</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [hidden] = "true">
            <mat-form-field style="width: 40vh">
              <mat-label>Поиск</mat-label>
              <input matInput placeholder="" [(ngModel)]="searchField">
            </mat-form-field>
          </div>
        </div>

        <div class="find__button">
          <mat-form-field style="width: 15vh">
            <mat-label>Искать по</mat-label>
            <mat-select [(ngModel)]="searchParameter">
              <mat-option (click)="hideField('')" value="">Отсутсвует</mat-option>
              <mat-option (click)="hideField('dateAndTime')" value="dateAndTime">Дата</mat-option>
              <mat-option (click)="hideField('status')" value="status">Статус</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="find__button">
          <button mat-raised-button [disabled]="flexWheel" (click)="currPage = 0; getData()">Найти</button>
        </div>
      </div>
      <div class="add__button" *ngIf="isAdmin">
        <button mat-raised-button (click)="openAddDialog()" [disabled]="flexWheel">Добавить</button>
        <button mat-raised-button [routerLink]="['/utilities/services', addressId]" [disabled]="flexWheel">Комунальные счета</button>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Последние">
        <ng-template mat-tab-label>
          <span (click)="changeService('')">Последние</span>
        </ng-template>
        <app-utilities-table [utilitiesTable]="utilities"></app-utilities-table>
      </mat-tab>
      <mat-tab label="Электричество">
        <ng-template mat-tab-label>
          <span (click)="changeService('Электричество')">Электричество</span>
        </ng-template>
        <app-utilities-table [utilitiesTable]="utilities"></app-utilities-table>
      </mat-tab>
      <mat-tab label="Вода">
        <ng-template mat-tab-label>
          <span (click)="changeService('Вода')">Вода</span>
        </ng-template>
        <app-utilities-table [utilitiesTable]="utilities"></app-utilities-table>
      </mat-tab>
      <mat-tab label="Газ">
        <ng-template mat-tab-label>
          <span (click)="changeService('Газ')">Газ</span>
        </ng-template>
        <app-utilities-table [utilitiesTable]="utilities"></app-utilities-table>
      </mat-tab>
      <mat-tab label="ОСМД">
        <ng-template mat-tab-label>
          <span (click)="changeService('ОСМД')">ОСМД</span>
        </ng-template>
        <app-utilities-table-without-readings [utilitiesTable]="utilities"></app-utilities-table-without-readings>
      </mat-tab>

      <mat-tab label="Интернет">
        <ng-template mat-tab-label>
          <span (click)="changeService('Интернет')">Интернет</span>
        </ng-template>
        <app-utilities-table-without-readings [utilitiesTable]="utilities"></app-utilities-table-without-readings>
      </mat-tab>
    </mat-tab-group>

    <mat-paginator length="{{totalElements}}" pageSize="5" [pageSizeOptions]="[5, 10]" (page)="getPaginatorData($event)"
                   [disabled]="flexWheel"></mat-paginator>

    <div class="flex" *ngIf="flexWheel">
      <mat-spinner></mat-spinner>
    </div>

  </div>

</div>
